body {
    margin: 0;
    padding: 0;
}

.navigationBar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1715B3;
    padding: 5px 40px;
}

.logo img{
    height: 60px;
    display: block;
}

.navigationLinks {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 50px;
}

.navigationLinks a {
    display: inline-block;               
    color: rgba(220, 220, 220, 0.5);
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 530;
    font-size: 18px;
    padding-bottom: 4px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);   
    transition: transform 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    letter-spacing: -0.5px;
}

.navigationLinks a:hover {
    color: white;
    transform: translateY(-2px);
    border-bottom-color: white;
}

.navigationLinks a.main {
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 4px;
}

.navigationLinks a.order-sys {
    border-bottom: none;   
    background-color: white;
    color: #1715B3;
    padding: 10px 20px;
    border-radius: 999px;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.3s ease;
}

.navigationLinks a.order-sys:hover {
    background-color: #0e0c6b;
    color: white; 
    transform: translateY(-2px);
}

.banner {
    height: 895px;
    width: auto;
    color: #070707;
    background-color: white;
    background-image:
        repeating-linear-gradient(to right, #dcdcdc, #dcdcdc 1px, transparent 1px, transparent 40px),
        repeating-linear-gradient(to bottom, #dcdcdc, #dcdcdc 1px, transparent 1px, transparent 40px);


    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.top-part {
    display: flex;
    align-items: center;
    gap: 0px;
    padding-top: 30px;
}

.title {
    margin: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300px;
    font-size: 40px;
    color: #1715B3;
    letter-spacing: -0.5px;
}

.logo-v2 {
    height: 50px;
    width: auto;
}

.food-row {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-row img {
    position: absolute;
    height: 85vh;
    width: auto;
}

.food-1 {
    right: 30%;
}

.food-2 {
    right: -1%;
}

.food-3 {
    left: -5%; top:14% ;
}

.section-2 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 1500px;
    width: auto;
    background-color: #1715B3;
    background-image: url(pattern.png);
    background-size: 2500px;
}

.logo3 {
    width: 200px;
    height: auto;
    position: relative;
    left: 150px;
    top: 130px;
}

.quote-row {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding-left: 10px;
}

.quote {
    margin: 0;
    padding: 150px 0 0 250px;
    font-family: 'Nunito Sans', sans-serif;
    color: #dcdcdc;
    font-size: 50px;
    letter-spacing: -0.5px;
}

.bob {
    position: relative;
    height: 950px;
    width: 950px;
    right: 60px;
    top: -130px;

    
}